# Configurações do Banco de Dados
MSSQL_SA_PASSWORD=SuaSenhaForteSQL2024!
DB_USER=sa
DB_NAME=AltDeskDev
DB_HOST=db

# Segurança / Autenticação
JWT_SECRET=ChaveSuperSecretaProducao2024!

# Configurações de E-mail (SMTP)
SMTP_HOST=smtp.seudominio.com
SMTP_PORT=587
SMTP_SECURE=true
SMTP_USER=nao-responda@seudominio.com
SMTP_PASS=SenhaSmtp

# Integração Asaas Billing
# IMPORTANTE: Se a sua chave tiver símbolos '$', use '$$' para escapar no Docker e evitar erros de variável não setada!
ASAAS_API_KEY=$$aact_hmlg_000MzkwODA2MWY2OGM3...
ASAAS_ENV=sandboxduction
ASAAS_WEBHOOK_TOKEN=seu_webhook_token

# Frontend URLs para as APIs
# Estas URLs serão usadas pelo Frontend e Admin Frontend no build do Docker
# O deploy ocorrerá em subdominios distintos.
VITE_API_URL_APP=https://api.seudominio.com
VITE_API_URL_ADMIN=https://api-admin.seudominio.com 
# (Se a API do Admin for a mesma do Backend altere, ou ajuste conforme o design)
# Assumindo que a API é no mesmo subdominio pra simplificar ou rotas separadas do Nginx.
